@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
* {
	margin: 0;
	padding: 0;
	font-family: 'Lora', serif;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
p {
	line-height: 23px;
	font-size: 16px;
	font-weight: 400;
}
h1, h2, h3 {
	font-weight: 500;
}
a {
	text-decoration: none;
}
#landing, #firstImgBox, #secondImgBox {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.wrapper, .txtBox, .imgBox, .heading, footer {
	display: flex;
	align-items: center;
}
header, #secondTxtBox, footer, #info {
	background-color: #0D0F0C;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
}
.cleaner {
	clear: both;
}
#logo {
	float: left;
	margin-left: 100px;
	margin-top: 30px;
	animation: slideInLeft 0.8s ease-in-out;
}
@keyframes slideInLeft {
	0% {margin-left: -100px; opacity: 0;}
	100% {margin-left: 100px; opacity: 1;}
}
#logo img {
	width: 85px;
}
nav ul {
	list-style-type: none;
	float: right;
	margin-right: 100px;
	margin-top: 35px;
	animation: slideInRight 0.8s ease-in-out;
}
@keyframes slideInRight {
	0% {margin-right: -100px; opacity: 0;}
	100% {margin-right: 100px; opacity: 1;}
}
nav ul li {
	display: inline-block;
	margin-right: 45px;
	transition: 0.2s;
	padding-bottom: 5px;
}
nav ul li:last-child {
	margin: 0;
}
nav ul li.active {
	border-bottom: 2px solid #FFF;
}
nav ul li a {
	text-decoration: none;
	color: #FFF;
	font-size: 15px;
	font-weight: 400;
	transition: 0.2s;
}
nav ul li:hover {
	border-bottom: 2px solid #FFF;
}
@keyframes opacity {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
#landing {
	height: 600px;
	background: url(../img/image1.jpg);
	margin-top: 100px;
	text-align: center;
	animation: opacity 0.8s ease-in-out;
}
#landing h1 {
	display: inline-block;
	margin-top: 200px;
	color: #FFF;
	font-size: 92px;
}
.wrapper {
	height: 600px;
}
.txtBox, .imgBox {
	width: 50%;
	height: 100%;
	justify-content: center;
	flex-direction: column;
}
.heading {
	margin-bottom: 30px;
	animation: slideInLeft2 0.8s ease;
}
.heading h2, .heading h1 {
	margin: auto 20px;
	color: #333;
	font-size: 42px;
}
.txtBox p {
	color: #333;
	text-align: justify;
}
.line {
	width: 200px;
	height: 1px;
	background-color: #333;
}
#firstTxtBox p {
	width: 545px;
	animation: slideInLeft2 0.8s ease;
}
@keyframes slideInLeft2 {
	0% {margin-left: -700px; opacity: 0;}
	100% {margin-left: 0px; opacity: 1;}
}
#firstImgBox {
	background: url(../img/image2.jpg);
	animation: opacity 0.8s ease-in-out;
}
#secondTxtBox {
	align-items: flex-start;
	padding-left: 95px;
}
#secondTxtBox .heading h2 {
	color: #FFF;
}
#secondTxtBox .heading .line {
	background-color: #FFF;
}
#secondTxtBox p {
	width: 645px;
	color: #FFF;
	margin-bottom: 30px;
}
#secondTxtBox a {
	color: #FFF;
	text-decoration: none;
	padding: 15px 35px;
	border: 1px solid #FFF;
	transition: 0.2s;
}
#secondTxtBox a:hover {
	background-color: #FFF;
	color: #333;
}
#secondImgBox {
	background: url(../img/image3.jpg);
}
#songsWrapper {
	flex-direction: column;
}
#songsWrapper .heading {
	margin-top: 70px;
}
#songs {
	display: flex;
	height: 75%;
	margin: auto 0 0 0;
}
.box {
	width: 25%;
	height: 100%;
	padding-top: 35px;
	padding-left: 60px;
	padding-right: 55px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.box p {
	color: #333;
	margin-bottom: 10px;
}
.boxLine {
	width: 20px;
	height: 1px;
	background-color: #333;
	margin-bottom: 40px;
}
.box h3 {
	font-size: 30px;
	color: #333;
	margin-bottom: 35px;
}
.box a {
	font-size: 16px;
	color: #333;
	font-weight: 400;
	padding: 15px 35px;
	border: 1px solid #0D0F0C;
	text-decoration: none;
	margin-bottom: 70px;
	margin-top: auto;
	transition: 0.2s;
}
.box a:hover {
	background-color: #0D0F0C;
	color: #FFF;
}
footer {
	height: 425px;
	flex-direction: column;
}
.fa-long-arrow-alt-up {
	color: #FFF;
	font-size: 30px;
	padding: 12px 20px;
	border: 1px solid #FFF;
	margin-bottom: 30px;
	margin-top: 50px;
}
#footerLine {
	width: 55px;
	height: 1px;
	background-color: #717171;
	margin-bottom: 20px;
}
#links {
	display: flex;
	text-align: center;
}
#links ul {
	list-style-type: none;
}
#links ul li {
	margin-bottom: 20px;
}
#links ul li:last-child {
	margin: 0;
}
#links ul li a {
	color: #717171;
	text-decoration: none;
	font-size: 14px;
	transition: 0.2s;
}
#links ul li a:hover {
	color: #FFF;
}
footer .fab, footer .fas {
	color: #FFF;
	margin-right: 5px;
}
#links ul:first-child {
	margin: 20px 50px auto auto;
}
.pagesWrapper {
	height: auto;
	margin-top: 100px;
	flex-direction: column;
	padding: 100px 0;
}
.container {
	margin: 50px auto;
	width: 70%;
}
#aboutImg {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	float: left;
	margin: 0 20px 20px 0;
	animation: opacity 0.8s ease-in-out;
}
.container p {
	margin-bottom: 50px;
	text-align: justify;
	animation: opacity 0.8s ease-in-out;
}
.column {
	width: 30%;
	float: left;
	margin-right: 5px;
	animation: slideUp 0.8s ease-in-out;
}
@keyframes slideUp {
	0% {margin-top: 700px; opacity: 0;}
	100% {margin-top: 0px; opacity: 1;}
}
.column:last-child {
	margin: 0;
}
.column:first-child {
	margin-left: 4%;
}
.column img {
	width: 100%;
}
#form, #info {
	float: left;
	padding-left: 50px;
	padding-top: 50px;
}
#form {
	width: 60%;
	height: 550px;
	animation: opacity 0.8s ease-in-out;
	box-shadow: 5px 10px 18px #888888;
}
#form h3 {
	margin-bottom: 50px;
}
#form input, #form #message {
	outline: 0;
	border-width: 0 0 1px;
	border-color: #a9a9a9;
	width: 40%;
	margin: auto 2% 5% auto;
	padding-bottom: 10px;
	transition: 0.2s;
}
#form input:focus, #form #message:focus {
	border-color: #0D0F0C;
}
#form #message, #form #company {
	width: 82.5%;
}
#form #submit, #form #reset {
	padding: 15px 35px;
	width: auto;
	color: #333;
	border: 1px solid #0D0F0C;
	background-color: #FFF;
}
#form #submit:hover, #form #reset:hover {
	cursor: pointer;
	background-color: #0D0F0C;
	color: #FFF;
}
#info {
	width: 40%;
	color: #FFF;
	height: 550px;
	box-shadow: 5px 10px 18px #888888;
	animation: opacity 0.8s ease-in-out;
}
#info .fas {
	margin-right: 5px;
	animation: opacity 0.8s ease-in-out;
}
#info a {
	color: #FFF;
	animation: opacity 0.8s ease-in-out;
}
#info h3, #info span {
	margin-bottom: 50px;
	animation: opacity 0.8s ease-in-out;
	margin-right: 10px;
}
#socials {
	margin-top: 65px;
	display: flex;
}
#socials a {
	padding: 15px 20px;
	background-color: #FFF;
	border-radius: 50%;
	color: #0D0F0C;
	margin-right: 10px;
	transition: 0.2s;
}
#socials a:hover {
	background-color: #0D0F0C;
	color: #FFF;
	border: #FFF;
}
.album {
	float: left;
	width: 47%;
	text-align: center;
	margin: auto auto 50px 2%;
	animation: slideUp 0.8s ease-in-out;
}
.album ol {
	list-style-position: inside;
}
.album img {
	width: 100%;
}
.album h3 {
	font-size: 20px;
	margin: 20px auto;
}